*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    display: flex;
    background-color: #555;
    color: #fff;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
footer h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #fff;
    
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icon{
    margin-top: 30px;
}
.social-icon i{
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
ul {
    list-style: none;
}