*{
    padding: 0%;
    margin: 0%;
}
#hero-section{
    background: url("Image/hero-1.jpg.webp") no-repeat center/cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}
nav li a{
    color: white;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}
.links{
    display: flex;
    gap: 30px;
}
.width-alignment{
    width: 70%;
    margin: auto;
    

}
.links li{
    list-style: none;
    
}
li a{
    text-decoration: none;
    
}
.social-icon{
    display: flex;
    gap: 10px;
}
.menu-bar{
     background-color: #4c4c4c;
     padding: 10px;
    display: flex;
    justify-content: flex-ends;
     
}
.menu{
    background-color: #222;
    color: white;
    padding: 5px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    border-radius: 5px;
    
}

.hero-content{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}