h1{
    color: red;
}
.content{
    background-color: rgb(255, 102, 0);
}
.about{
    background-color: rgb(0, 255, 170);
}
.left{
    background-color: yellow;
}
.text{
    color: white;
}
.font{
    font-size: 30px;
}
#header{
    text-align: center;
}
section, header, footer{
    background-color: rgb(93, 211, 15);
    color: white;
}